<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- 회원가입 폼 -->
    <form id="register-form" method="post" action="{% url 'users:signup' %}">
        {% csrf_token %}
        <h1 id="register-title">회원가입</h1>
        {{ form.non_field_errors }}
        <div id="username-field">
            <label for="username">ID</label>
            {{ form.username.errors }}
            {{ form.username }}
        </div>
        <div id="password-field">
            <label for="password">Password</label>
            {{ form.password1.errors }}
            {{ form.password1 }}
            {{ form.password2.errors }}
            {{ form.password2 }}
        </div>
        <button type="submit">Register</button>
    </form>
    
</body>
</html>
